<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>StudentHelpCommunity</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<script type="text/x-handlebars">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">StudentHelpCommunity</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible-1">
                <span class="sr-only">Toggle navigation</span>
                <!-- 3* linie im Toggle/Zusammenklapp button -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapsible-1">
            <ul class="nav navbar-nav">
                <li>{{#link-to 'posts'}}All Posts{{/link-to}}</li>
                {{#if isLoggedIn}}
                <li>{{#link-to 'postNew'}}New Post{{/link-to}}</li>
                {{/if}}
                {{#if isLoggedIn}}
                <li>{{#link-to 'login'}}Logout{{/link-to}}</li>
                {{/if}}
                {{#unless isLoggedIn}}
                <li>{{#link-to 'login'}}Login{{/link-to}}</li>
                <li>{{#link-to 'registration'}}Registration{{/link-to}}</li>
                {{/unless }}

            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    {{outlet}}

</script>

<script type="text/x-handlebars" id="index">
      <div class="about">
        <h3>Student Help Community</h3></br>

        <p>Welcome to Student Help Community. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at dui diam. Nunc eget vulputate quam, vel
            tristique ligula. In vel iaculis lectus, eget cursus odio. Proin mollis nunc in turpis posuere, et mollis
            ipsum
            rutrum. In sit amet ante erat. Quisque dapibus accumsan orci, sit amet ultrices ligula eleifend quis.
            Vivamus
            sed lectus porta, vulputate sem sit amet, varius lectus.</p>

        <p>Proin ut arcu orci. Integer mattis vulputate condimentum. Sed id ultricies orci. Donec arcu neque, tristique
            non
            elit id, dignissim vehicula nulla. Ut nec porttitor leo, in tristique lacus. Nulla faucibus neque massa, sit
            amet commodo nulla fringilla quis. Morbi scelerisque nibh vel hendrerit adipiscing. Sed consequat turpis ac
            turpis sagittis, vel eleifend velit convallis. Mauris eget rhoncus diam. Sed vel massa in felis facilisis
            laoreet eget dictum dui. Aliquam vitae nisi eget leo dapibus blandit sed adipiscing libero. Aenean feugiat
            sit
            amet urna non pellentesque. Donec lacus libero, ultricies eu elit tempus, suscipit blandit odio. Cras congue
            convallis arcu. Fusce ut velit id neque dignissim interdum.</p>
    </div>
</script>

<script type="text/x-handlebars" id="posts">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                {{#each post in controller}}
                <div class="postcontainer">
                    <div class="voteSection">
                        <div class="pointAndVotingUp">
                            <span class="glyphicon glyphicon-circle-arrow-up" {{action 'upvote'}}></span>
                        </div>
                        <div class="points">
                            {{post.upVotes}}
                        </div>
                        <div class="pointAndVotingDown">
                            <span class="glyphicon glyphicon-circle-arrow-down" {{action 'downvote'}}></span>
                        </div>
                    </div>
                    <div class="postSection">
                        <div class="post">
                            <div class="postTitle">
                                {{#link-to 'post' post.id }}
                                {{post.title}}
                                {{/link-to}}
                            </div>
                            <div class="postContent">
                                {{format-markdown post.content}}
                            </div>
                            <div class="postAuthor">
                                <small class="muted">asked {{format-date post.time}} by {{post.author.username}}</small>
                            </div>
                        </div>
                        <div class="tagSection">
                            <button class="btn btn-xs">placeholder</button>
                            <button class="btn btn-xs">placeholder</button>
                            <button class="btn btn-xs">placeholder</button>
                        </div>
                        <div class="answerSection">
                            <span class="badge">3</span> people already answered.
                            {{#link-to 'post' post.id }}
                            Submit your own answer...
                            {{/link-to}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <!--
            <div class="span9">
                {{outlet}}
            </div>
            -->
        </div>
    </div>
</script>

<script type="text/x-handlebars" id="post">
    <div class="postcontainer">
        <div class="voteSection">
            <div class="pointAndVotingUp">
                <span class="glyphicon glyphicon-circle-arrow-up"></span>
            </div>
            <div class="points">
                {{model.upVotes}}
            </div>
            <div class="pointAndVotingDown">
                <span class="glyphicon glyphicon-circle-arrow-down"></span>
            </div>
        </div>
        <div class="postSection">
            <div class="postTitle">
                {{content.title}}
            </div>

            <div class="postContent">
                {{format-markdown model.content}}
            </div>
            <hr>
            <div class="postAuthor">
                <small class='muted'> by {{model.author.username}} ({{format-date model.time}})</small>
            </div>

            <!--
            {{#if isEditing}}
                {{partial 'post/edit'}}
                    <button class="btn btn-default" {{action 'doneEditing'}}>Done</button>
                {{else}}
                    <button class="btn btn-default" {{action 'edit'}}>Edit</button>
            {{/if}}	
            -->

            <div class="tagSection">
                <button class="btn btn-xs">placeholder</button>
                <button class="btn btn-xs">placeholder</button>
                <button class="btn btn-xs">placeholder</button>
            </div>
             <div class="answerSection">
                <button class="btn btn-default" {{action 'makeAComment'}}>answer question or leave a comment</button>
            </div>
			{{#if newComment}}
				<div>
					 <form {{action addComment on='submit'}}>
						<div class="newComment">
							<label>Make a new Comment!</label>
						</div>

						<div class="newComment">
							<div class="newCommentTitle">
								<label>Title</label></br>
									{{input type="text" value=titleComment size="88em"}}
							</div>
							<div class="newCommentDescription">
								<label>Description</label></br>
								{{textarea value=contentComment}}
							</div>
							{{input class="btn" type="submit" value="Submit"}}
						</div>
					</form>
				</div>
			{{/if}}	
        </div>
    </div>

    {{#each comment in controller.comments}}
    <div class="answerContainer">



            {{comment.title}}



        <div class="voteSection">
            <div class="pointAndVotingUp">
                <span class="glyphicon glyphicon-circle-arrow-up"></span>
            </div>
            <div class="points">
                {{commment.upVotes}}
            </div>
            <div class="pointAndVotingDown">
                <span class="glyphicon glyphicon-circle-arrow-down"></span>
            </div>
        </div>
        <div class="postSection">
            <div class="postContent">
                {{comment.content}}
            </div>
            <hr>
            <div class="postAuthor">
                <small class='muted'> by {{comment.author}} ({{format-date comment.time}})</small>
            </div>
        </div>
    </div>
    {{/each}}

</script>

<script type="text/x-handlebars" id="comments">
    <h5>Comments</h5>
    {{#each content.comments}}
    <hr />
    <span>
        {{this}}
    </span>
    {{/each}}
</script>

<script type="text/x-handlebars" id="postNew">
    {{#if isLoggedIn}}
    <div class="newPost">
        <form {{action 'saveIt' on='submit'}}>
        <div class="newPost1">
            <label>Make a new post!</label>
        </div>

        <div class="newPost2">
            <div class="newPostTitle">
                <label>Title</label></br>
                {{input type="text" value=title size="88em"}}
            </div>
            <div class="newPostDescription">
                <label>Description</label></br>
                {{textarea value=content}}
            </div>

            {{input class="btn" type="submit" value="Submit"}}
        </div>

        </form>
    </div>

    {{else}}
    <div class="newPost">
       <h3>You are not logged in</h3></br>
       <p>{{#link-to 'login'}}Login{{/link-to}} if you already have an account</p> 
       <p>If not, you can create a {{#link-to 'registration'}}new account{{/link-to}}.
    </div>
    {{/if}}


</script>

<script type="text/x-handlebars" id="post/_edit">
    <p>{{input type="text" value=title}}</p>

    <p>{{input type="text" value=excerpt}}</p>

    <p>{{textarea value=body}}</p>
</script>

<script type="text/x-handlebars" id="login">

    <div class="loginform">


        <h3>Already have an account?</h3></br>
        {{#if isLoggedIn}}

        <p>You are already logged in!</p>

        <button class="btn" {{action 'logout'}}>Logout</button>
        {{else}}

        {{#if errorMessage}}
        <div class="alert alert-error">{{errorMessage}}</div>
        {{/if}}

        <form class="form-horizontal" {{action "login" on="submit"}}>

        <div class="loginform1">
            <label>Login!</label>
        </div>

        <div class="loginform2">
            <div class="loginformUsername">
                <div class="control-group">
                    <label>Username</label>

                    <div class="controls">
                        {{input value=username type="text" placeholder="Username" size="30em"}}
                    </div>
                </div>
            </div>
        </div>

        <div class="loginformPassword">
            <div class="control-group">
                <label>Password</label>

                <div class="controls">
                    {{input value=password type="password" placeholder="Password" size="30em"}}
                </div>
            </div>
        </div>

        {{input class="btn" type="submit" value="Log In"}}
        </form>

        {{/if}}

    </div>

</script>

<script type="text/x-handlebars" id="registration">

<div class="registerform">
    
    <h3>New here? Create a new account</h3></br>

    {{#if errorMessage}}
    <div class="alert alert-error">{{errorMessage}}</div>
    {{/if}}

    <form class="form-horizontal" {{action "register" on="submit"}}>

    <div class="registerform1">
        <label>Register</label>
    </div>

    <div class="loginform2">
        <div class="loginformUsername">
            <div class="control-group">
                <label>Username</label>

                <div class="controls">
                    {{input value=username type="text" placeholder="Username" size="28em"}}
                </div>
            </div>
        </div>
    </div>

    <div class="loginformPassword">
        <div class="control-group">
            <label>Password</label>

            <div class="controls">
                {{input value=password type="password" placeholder="Password" size="28em"}}
            </div>
        </div>
    </div>

    <div class="loginformPassword">
        <div class="control-group">
            <label>Email</label>

            <div class="controls">
                {{input value=email type="text" placeholder="Email" size="28em"}}
            </div>
        </div>
    </div>

    {{input class="btn" type="submit" value="Register"}}
    </form>

    </div>

 </div>

</script>

<script src="js/libs/jquery-1.10.2.js"></script>
<script src="js/libs/handlebars-1.1.2.js"></script>
<script src="js/libs/ember.js"></script>
<script src="js/libs/ember-data.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
<script src="js/app.js"></script>
<!-- to activate the test runner, add the "?test" query string parameter -->
<script src="tests/runner.js"></script>
</body>
</html>
