/* Put your CSS here */
.ember-application {
    margin: 20px;
}

.active {
    font-weight: bold;
}

.postcontainer {
    margin-bottom: 20px;
    padding: 5px;
    height: 100%;
    background-color: #F8F8F8;
    border-radius: 5px;
    border: 1px solid #E7E7E7;
}

.answerContainer{
    margin-bottom: 20px;
    margin-left: 50px;
    padding: 5px;
    height: 100%;
    background-color: #F8F8F8;
    border-radius: 5px;
    border: 1px solid #E7E7E7;
}

.voteSection{
    float: left;
    width: 4em;
    line-height: 3em;
    text-align: center;
}

.postSection{
    margin-left: 5em;
    position: relative;
}

.tagSection{
    margin-top: 10px;
    margin-left: -2px;
}

.answerSection{
    margin-right: 15px;
    text-align: right;
    font-style: italic;
}

.postTitle{
    font-size: 1.3em;
    margin-bottom: 0.3em;
}

.postContent{

}

.postAuthor{
    margin-top: 0.3em;
}

.tag{
    border: 1px solid #777777;
    color: #777777;
    border-radius: 3px;
    padding: 2px;
    margin: 2px;
    display: inline;
}

.pointAndVotingUp {
    color: green;
    font-size: 2em;
   /* margin-top: 0.4em; */
    margin-bottom: -0.8em;
}

.pointAndVotingDown {
    color: red;
    font-size: 2em;
    margin-top: -0.3em;
}

.points{
    font-size: 1.8em;
    margin-top: 0.35em;
}

.post {

}

.loginform {
    padding: 10px;
    height: 100%;
    background-color: #F8F8F8;
    border-radius: 5px;
    border: 1px solid #E7E7E7;
}

.loginform1 {
    padding: 10px;
    height: 15em;
    float: left;
    margin-right: 40px;
}

.loginform2 {
    padding: 10px;
    height: 100%;
}

.loginformUsername {
    margin-bottom: 10px;
}

.loginformPassword {
    margin-bottom: 30px;
}

.newPost {
    padding: 10px;
    height: 100%;
    background-color: #F8F8F8;
    border-radius: 5px;
    border: 1px solid #E7E7E7;
}

.newPost1 {
    padding: 10px;
    height: 20em;
    float: left;
    margin-right: 40px;
}

.newPost2 {
    padding: 10px;
    height: 100%;
}

.newPostTitle {
    margin-bottom: 10px;
}

.newPostDescription {
    margin-bottom: 30px;
}

.about {
    padding: 10px;
    height: 100%;
    background-color: #F8F8F8;
    border-radius: 5px;
    border: 1px solid #E7E7E7;
}

.registerform {
    padding: 10px;
    height: 100%;
    background-color: #F8F8F8;
    border-radius: 5px;
    border: 1px solid #E7E7E7;
}

.registerform1 {
    padding: 10px;
    height: 20em;
    float: left;
    margin-right: 40px;
}

textarea {
    width: 40em;
    height: 10em;
    resize: none;
}