#ember-testing-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 640px;
    height: 384px;
    overflow: auto;
    z-index: 9999;
    border: 1px solid #ccc;
    background: white;
}

#ember-testing {
    zoom: 50%;
}